<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="d3v.bnb.ourwimarket">

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.D1">

        <!-- Main Activity -->
        <activity android:name=".WiMarket"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <!-- Initial Activity -->
                <action android:name="android.intent.action.MAIN"/>
                <!-- Launcher Activity -->
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Preferences -->
        <activity android:name=".Preferences" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activities -->
        <activity android:name=".Home" android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity" android:theme="@style/Theme.D1translucent" />
        <activity android:name=".MapActivity" android:screenOrientation="portrait" />
        <activity android:name=".AccessPointList" android:screenOrientation="portrait" />
        <activity android:name=".F1Activity" android:theme="@style/Theme.D1" />
        <activity android:name=".SDCardFloorplanActivity" android:theme="@style/Theme.D1translucent" android:screenOrientation="portrait" />
    </application>
</manifest>